p{
    font-size: 22px;
    text-align: center;
}

.normalText{
    color: black;
}

a{
    font-size: 22px;
    text-align: center;
}

h1{
    font-size: 30px;
    color:black;
    text-align: center;
}

h2{
    font-size: 26px;
    color: black;
    text-align: center;
}

section.info{
    border: solid black;
    background-color: lightsteelblue;
}

#catPics{
    text-align: center;
}

.catPic{
    /* display: block; */
    margin: auto;
    max-width: 20%;
    max-height: 20%;
}

#github{
    margin: auto;
    padding-right: 0px;
    max-width: 25%;
    max-height: 25%;
}

#portfolio{
    margin: auto;
    padding-left: 80px;
    max-width: 10%;
    max-height: 10%;
}

#breakout{
    margin: auto;
    padding-left: 80px;
    max-width: 15%;
    max-height: 15%;
}

#linkImages{
    text-align: center;
}